.pnrDiv{
    text-align: center;
    font-style: italic;
    font-size: 14pt;
    padding-block: 20px;
    font-weight: 500;
}
#pnrNumber{
    font-size: 18pt;
    font-weight: 500;
    color: #1353c7;
    font-style: normal;
}
.modal-footer{
    border-top: none;
}